.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
  background-color: lightgrey;
  width: 100%;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
  background-color: red;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.checkout__empty {
  margin-left: 10px;
}

.checkout__left {
  background-color: white;
  width: 100%;
}

.checkout__right {
  margin-left: 10px;
  margin-right: 40px;
}
