.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  margin-left: 20px;
}

.checkoutProduct__info > button {
  background: orange;
  margin-top: 10px;
}

.checkoutProduct__title {
  font-weight: 800;
  font-size: 15px;
}
