.login {
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login__logo {
  margin-top: 30px;
  width: 100%;
  object-fit: contain;
}

.login__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
}
